.jumbotron{
    /*background-color:darkslategray;
    */

}
body
{
    
    background-image: url("../images/touch.jpg");
    
}

#human{
     color: white;
     text-align: right;
}
#human2{
    color: white;
    text-align: right;
   
}
#human3{
    color: white;
    text-align: right;
   
}
#human img {
    border-width:thick;
    border-color: white;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 200px;
    height: 150px;
    align-items: flex-end;
}
#human2 img {
    border-width:thick;
    border-color: white;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 200px;
    height: 150px;
    align-items: flex-end;
  
}
#human3 img {
    border-width:thick;
    border-color: white;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 200px;
    height: 150px;
    align-items: flex-end;
  
}